// Form styling

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 60%;
        height: 5vh;
        margin: 1%;
        border-radius: 25px;

    }

    input[type=text] {
        padding-left: 1%;
    }

    textarea {
        width: 60%;
        margin: 1%;
        border-radius: 25px;
        padding: 1%;
    }

    .radioSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;

        input {
            width: 5%;
            height: fit-content;
        }
        
    }

    button {
        border-radius: 25px;
        width: 50%;
        height: 5rem;
        margin-bottom: 5rem;
        background: rgb(123, 224, 173);
        background: linear-gradient(90deg, rgba(123, 224, 173, 1) 0%, rgba(174, 229, 216, 1) 35%, rgba(231, 229, 229, 1) 100%);
    }
}

.readReview {
    height: 500px;
    background: rgb(219, 218, 218);
    border-top: 3px solid $accent1;
}