// Form styling

form.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 60%;
        height: 5vh;
        margin: 1%;
        border-radius: 25px;

    }

    input[type=text] {
        padding-left: 1%;
    }

    textarea {
        width: 60%;
        margin: 1%;
        border-radius: 25px;
        padding: 1%;
    }

    .radioSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;

        input {
            width: 5%;
            height: fit-content;
        }
        
    }

    button {
        margin-bottom: 5rem;
        
    }
}

.noOverflowX {
    overflow-x: hidden;
    margin-bottom: 5%;
}