 /****** GENERAL STYLING ******/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: $accent2;
    font-family: $bodyFont;
    color: $blackColor;
}

a {
    color: $blackColor;
    text-decoration: none;

    &:hover,
    &:focus {
        background: linear-gradient(180deg,rgba(255,255,255,0) 60%, $accent1 40%);
    }
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

main {
    min-height: 80vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.6rem;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, $accent1 40%);
}