 /****** GENERAL STYLING ******/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: $bodyFont;
    color: $blackColor;
}

a {
    color: $blackColor;
    text-decoration: none;

    &:hover,
    &:focus {
        background: linear-gradient(180deg,rgba(255,255,255,0) 60%, $accent1 40%);
    }
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

main {
    min-height: 85vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    @include fluid-type (1.25rem, 1.6rem, 360px, 1280px);
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
}

.wrapper {
<<<<<<< HEAD
    max-width: 1120px;
    width: 95%;
=======
    max-width: 1280px;
    width: 100vw;
>>>>>>> master
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, $accent1 40%);
}

// Accessibility classes
.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* added line */
}