 /****** GENERAL STYLING ******/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: $accent2;
    font-family: $bodyFont;
    color: $blackColor;
}

header {
    height: 10vh;
}

main {
    min-height: 80vh;
}

footer {
    height: 10vh;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
}

h1 {
    text-decoration: underline;
    text-decoration-color: $grayColor;
    text-decoration-thickness: 10px;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}