header {
    width: 100%;
    background: rgb(123, 224, 173);
    background: linear-gradient(90deg, rgba(123, 224, 173, 1) 0%, rgba(174, 229, 216, 1) 35%, rgba(231, 229, 229, 1) 100%);

    h1 {
        color: white;
        margin-left: 5%;
        letter-spacing: 5%;
        @include fluid-type (4rem, 10rem, 360px, 1280px);
    }
}

footer {
    width: 100%;
    background: rgb(123, 224, 173);
    background: linear-gradient(90deg, rgba(123, 224, 173, 1) 0%, rgba(174, 229, 216, 1) 35%, rgba(231, 229, 229, 1) 100%);

    p {
        color: $blackColor;
        margin-left: 5%;
        letter-spacing: 5px;
        @include fluid-type (1.25rem, 2.25rem, 360px, 1280px);
    }

    a {
        color: $blackColor;
        @include fluid-type (1.25rem, 2.25rem, 360px, 1280px);
    }
}