.userSpan {
    display: block;
    font-weight: bold;
    width: fit-content;
    margin: 1%;
}

.reviewPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border-bottom: 3px solid $accent1;

    p {
        width: 90%;
    }
}

.reviewDisplay {
    list-style: none;
    display: block;
    margin: 0% 0% 2% 0;
    width: 90%;
    padding: 1%;
}

.userStarRating {
    text-align: center;
    margin: 1%;

    .starsOnly {
        font-size: 5rem;
    }
}