// import partials
@import './partials/setup';
@import './partials/variablesMixins';
@import './partials/global';
@import './partials/carousel';
@import './partials/headerFooter';
@import './partials/star-rating';
@import './partials/reviewPanel';
@import './partials/form';
@import './partials/searchBar';
@import './partials/results';
@import './partials/filterResults';
@import './partials/sorting';
@import './partials/preloader';
@import './partials/wishlist';
@import './partials/userReviews';
