@import url("https://fonts.googleapis.com/css?family=Maitree|Montserrat&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/****** GENERAL STYLING ******/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Montserrat";
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(40%, #7BE0AD));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #7BE0AD 40%);
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  min-height: 85vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  font-size: calc(1.25rem + 0.35 * ((100vw - 360px) / 920));
  text-align: center;
}

@media screen and (max-width: 360px) {
  footer {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    font-size: 1.6rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Maitree";
}

.wrapper {
  max-width: 1120px;
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(40%, #7BE0AD));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #7BE0AD 40%);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

header {
  width: 100%;
  background: #7be0ad;
  background: -webkit-gradient(linear, left top, right top, from(#7be0ad), color-stop(35%, #aee5d8), to(#e7e5e5));
  background: linear-gradient(90deg, #7be0ad 0%, #aee5d8 35%, #e7e5e5 100%);
}

header h1 {
  color: white;
  margin-left: 5%;
  letter-spacing: 5px;
}

footer {
  width: 100%;
  background: #7be0ad;
  background: -webkit-gradient(linear, left top, right top, from(#7be0ad), color-stop(35%, #aee5d8), to(#e7e5e5));
  background: linear-gradient(90deg, #7be0ad 0%, #aee5d8 35%, #e7e5e5 100%);
}

footer p {
  color: #000;
  margin-left: 5%;
  letter-spacing: 5px;
}

footer a {
  color: #000;
}

.searchBar form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
}

.searchBar form label {
  margin: 25px 0;
}

/* react-autosuggest components have their own default class names and need to be targeted as such, so these classes will be formatted differently from the rest of the content*/
.react-autosuggest__container {
  width: 100%;
  position: relative;
}

.react-autosuggest__input {
  font-family: "Montserrat";
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  -webkit-appearance: none;
  border: none;
  background: #E7E5E5;
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  width: 100%;
}

.react-autosuggest__input:focus {
  outline: none;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  position: absolute;
  display: block;
  overflow: hidden;
  top: 50px;
  z-index: 999;
  background: #E7E5E5;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container .suggestion-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #7BE0AD;
}

.results {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
  font-size: 1.6rem;
}

.results a {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
  padding: 5px 15px;
  background: rgba(174, 229, 216, 0.95);
  color: #F8F8F8;
}

.productImage {
  -webkit-box-shadow: 20px 15px 0px 0px #E7E5E5;
          box-shadow: 20px 15px 0px 0px #E7E5E5;
  border: 2px #6b6262 solid;
  height: 100%;
  position: relative;
}

.productImage img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productTextContainer {
  background: rgba(174, 229, 216, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.productText {
  width: 80%;
  background: rgba(231, 229, 229, 0.6);
}

.productDetails {
  width: 500px;
}

.selected {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  grid-column: 1 / -1;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  width: 60%;
  height: 5vh;
  margin: 1%;
  border-radius: 25px;
}

form input[type=text] {
  padding-left: 1%;
}

form textarea {
  width: 60%;
  margin: 1%;
  border-radius: 25px;
  padding: 1%;
}

form button {
  border-radius: 25px;
  width: 150px;
  margin-bottom: 5rem;
}
